@use './variables';

// BREAK POINTS
$screen-xsm-max: 390px;
$screen-sm-min: 500px;
$screen-md-min: 768px;
$screen-lg-min: 820px;
$screen-xlg-min: 1024px;

// DARK MODE
@mixin dark {
    @media(prefers-color-scheme: dark) {
        @content
    }
}

// ITEM BG
@mixin item-bg {
    position: relative;
    transition: 350ms ease;
    // ITEM BG
    &::after, &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        transition: 350ms ease;
        z-index: -1;
    }

    &::before {
        background-color: red;
        background-color: hsl(0, 0%, 99%);
        box-shadow: 0 0.25rem 0.5rem #0002;
        box-shadow: variables.$box-shadow-sm;
    }

    &::after {
        background-color: blue;
        background-color: #ffff;
        box-shadow: 0 0.5rem 1rem #0002;
        opacity: 0;
    }

    &:hover {
        transform: scale(1.0125);
        &::before {opacity: 0;}
        &::after {opacity: 1;}
    }
}


// EXTRA SMALL DEVICES 
@mixin xsm {
    @media (max-width: #{$screen-xsm-max}) {
        @content;
    }
}

//SMALL DEVICES 
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

//MEDIUM DEVICES 
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

//LARGE DEVICES 
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

//EXTRA LARGE DEVICES 
@mixin xlg {
    @media (min-width: #{$screen-xlg-min}) {
        @content;
    }
}

//FLEXBOX
@mixin flex($justify, $align: center, $direction: row, $wrap: wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

//CSS GRID
@mixin grid($columns, $gap: 0px) {
    display: grid;
    grid-gap: $gap;
    grid-template-columns: repeat($columns, 1fr);
    @content
}





