@use '../abstracts';

.about {
    padding: 5vh 5vw 0;
}

.about-article {
    p {
        margin-bottom: 1.5rem;
        max-width: 600px;
    }

    a {
        text-transform: capitalize;
        color: abstracts.$brand;
    }
}