@use '../abstracts';

.about {
    padding: 5vh 5vw;
    isolation: isolate;
    position: relative;
    
    @include abstracts.lg {
        padding: 10vh 10vw;
        background: linear-gradient(90deg, #fff 55%, transparent 75%);
        
        // PSEUDO BG
        &::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            background-image: url('../../img/mikali-ceiling-worker.jpg');
            background-repeat: no-repeat;
            background-position: right top;
            background-size: cover;
            background-size: 50%;
            background-attachment: fixed;
            mix-blend-mode: overlay;
            // opacity: .5;

        }

        @include abstracts.dark {
            color: #eee;
            background: #161616;
            &::after {
                opacity: .5;
            }
        }

        .about-article-img {
            display: none;
        }

    }

    @include abstracts.dark {
        color: #eee;
        background-color: #161616;
        
    }



}

.about-article {

    p {
        margin-bottom: 1.5rem;
        max-width: 550px;
        
        @include abstracts.dark {
            color: abstracts.$text-light-trans;
        }

    }

    a {
        text-transform: capitalize;
        color: abstracts.$brand;
        
        @include abstracts.dark {
            color: abstracts.$brand-light
        }

    }

    &.io-item {

        h3 {
            letter-spacing: 0.025rem;        
            transition: 500ms linear;
        }

        p {
            opacity: 0.25;
            transform: translateY(0.5rem);
            transition: 1000ms 450ms linear;
        }

    }

    &.active-item {

        h3 {
            letter-spacing: normal;        
        }
        
        p {
            opacity: 1;
            transform: translateY(0);
        }
        
    }

}

.about-img {
    // border: 2px solid #000;
    // border: 2px solid abstracts.$brand;
    // width: 100%;
    height: auto;
    max-height: 65vh;
    object-fit: cover;
    border-radius: 0.25rem;

    @include abstracts.md {
        display: none;
    }
}

.about-article-img {
    margin: 1rem auto;
    border-radius: 0.25rem;
    overflow: hidden;
    max-height: 15rem;

    img {
        height: 100%;
        object-fit: cover;
        transition: 350ms ease;
    }

    &:hover {

        img {
            transform: scale(1.05);
        }

    } 

}