@use '../abstracts';
// CONTACT SECTION
.contact {
    // border: 3px solid red;
    background: abstracts.$bg-main;
    background: hsl(0, 0%, 90%);
    padding: 5vh 5vw 10vh;
    position: relative;
    isolation: isolate;

    @include abstracts.dark {
        background: #111;
        &::after {
            display: none;
        }
    }

    // MOBILE SCREENS PSEUDO BG IMG
    &::after {
        content: '';
        position: absolute;
        // position: sticky;
        inset: 0;
        // top: 6vh;
        // border: 2px solid blue;
        // width: 100%;
        // height: 88vh;
        background-image: url('../../img/paint-brush.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -1;

        @include abstracts.md {
            display: none;
        }
    }


    @include abstracts.md {
        padding: 5vh 10vw 10vh;
        background-image: url('../../img/paint-brush.jpg');
        background-repeat: no-repeat;
        background-position: right center;
        background-position: 85% bottom;
        background-attachment: fixed;
        background-size: 10%;
        background-size: contain;
    }

    // SECTION TITLE
    .section-title {

        h3 {
            color: abstracts.$brand;
            text-transform: uppercase;
            font-size: abstracts.$font-clamp-lg;

            // DARK THEME
            @include abstracts.dark {
                color: abstracts.$brand-light;
            }
        }

    }

}





