@use '../abstracts';

.cta-section {
    background-color: #fafafa;
    padding: 5vh 5vw 0;
    min-height: 80vh;

    @include abstracts.dark {
        background: hsl(0, 0%, 10%);
        color: abstracts.$text-light;
    }
    
    @include abstracts.md {
        padding: 10vh 10vw;
    }
    
    article {
        margin-bottom: 10vh;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        @include abstracts.lg {
            background-color: #fafafa;
            border-radius: 0.25rem;
            flex-direction: row;
            gap: 5vw;
            padding-bottom: 5vh;
            margin-bottom: 10vh;
        }

        &:first-of-type {
            border-bottom: 1px solid #0005;
        }

        .article-content {
            
            h3 {
                color: abstracts.$brand;
                font-size: abstracts.$font-clamp-md;
    
                @include abstracts.dark {
                    color: abstracts.$brand-light;
                }
    
            }
    
            h4 {
                font-weight: 500;
            }
        
            p {
                padding: 0.5rem 0;
                @include abstracts.dark {
                    color: abstracts.$text-second-light;
                }
            }
        
            a {
                // color: abstracts.$brand;
                text-transform: capitalize;
                font-size: inherit;
                &:hover {
                    text-decoration-color: abstracts.$brand;
                }
                @include abstracts.dark {
                    // color: abstracts.$brand-light;
                }
            }
        
            ul {
                padding: 0rem 1rem;
                
                li {
                    margin-bottom: 0.25rem;
    
                    &::first-letter {
                        text-transform: capitalize;
                    }
                    &::after {
                        content: '.';
                    }
    
                    @include abstracts.dark {
                        color: abstracts.$text-second-light;
                    }
                }
        
            }

        }

    
    
    }

    .cta-section-img {
        width: 100%;
        object-fit: cover;
        border-radius: 0.25rem;

        @include abstracts.lg {
            width: 50%;
            position: sticky;
            top: 15vh;
        }
        
    }
    
}
