@use '../abstracts';

.cta-section {
    // border: 2px solid red;
    background-color: #fafafa;
    padding: 5vh 5vw;
    min-height: 80vh;

    @include abstracts.dark {
        background: hsl(0, 0%, 10%);
        color: abstracts.$text-light;
    }
    
    @include abstracts.md {
        padding: 10vh 10vw;
    }

    @include abstracts.lg {
        padding: 10vh 10vw;
        background-image: url('../../img/kitchen.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: right;
        background-size: 45%;
    }
    
    article {
        padding-bottom: 5vh;
        max-width: 550px;

        @include abstracts.md {
            background-color: #fafafa;
            border-radius: 0.25rem;
        }

        h3 {
            color: abstracts.$brand;
            font-size: abstracts.$font-clamp-md;

            @include abstracts.dark {
                color: abstracts.$brand-light;
            }

        }

        h4 {
            font-weight: 500;
        }
    
        p {
            padding: 0.5rem 0;
            @include abstracts.dark {
                color: abstracts.$text-second-light;
            }
        }
    
        a {
            color: abstracts.$brand;
            text-transform: capitalize;
            font-size: inherit;
            &:hover {
                text-decoration-color: abstracts.$brand;
            }
            @include abstracts.dark {
                color: abstracts.$brand-light;
            }
        }
    
        ul {
            padding: 0rem 1rem 0.5rem 1rem;
            
            li {
                margin-bottom: 0.25rem;

                &::first-letter {
                    text-transform: capitalize;
                }
                &::after {
                    content: '.';
                }

                @include abstracts.dark {
                    color: abstracts.$text-second;
                }
            }
    
        }
    
    
    }

    .cta-section-img {
        margin: 5vh 0;
        height: 50vh;
        width: 100%;
        object-fit: cover;
        @include abstracts.lg {
            display: none;
        }
    }
    
}
