@use '../abstracts';

// HERO 
#hero {
    border: 1px solid #0006;
    height: 95vh;
    position: relative;
    isolation: isolate;
    transition: 250ms;
    
    background: hsl(0, 0%, 90%);
    background: linear-gradient(0deg, #e0e0e0, hsl(0, 0%, 90%));
    background: linear-gradient(0deg, hsl(0, 0%, 85%), hsl(0, 0%, 90%));
    // padding: 5vh 5vw;

    @include abstracts.dark {
        background: #333;
        background: linear-gradient(0deg, hsl(0, 0%, 3%), hsl(0, 0%, 30%));
        color: #fafafa;
    }
    
    display: grid;
    // grid-template-rows: auto 1fr;
    grid-template-rows: 55% 1fr;
    grid-template-areas: 'image'
                            'title';

    // DESKTOP HERO
    @include abstracts.lg {
        background: abstracts.$bg-main;
        background: hsl(0, 0%, 95%);
        grid-template-rows: 1fr;
        grid-template-columns: 50% 50%;
        grid-template-areas: 'title image';
        align-items: center;
        padding: 10vh 10vw 5vh;

        @include abstracts.dark {
            background: hsl(0, 0%, 90%);
        }

    }

    // HERO ACTIVE BACKGROUND CLASS
    &.active {
        background: abstracts.$brand;
    }

}

// HERO-IMAGE = BACKGROUND IMAGE
.hero-image {
    grid-area: image;
    mix-blend-mode: darken;

    @include abstracts.dark {
        mix-blend-mode: normal;
    }

    img {
        height: 100%;
        object-fit: contain;
        object-fit: cover;
        // width: 100%;
        // -webkit-mask: linear-gradient(0deg, transparent, #fff 60%) ;
        //     mask: linear-gradient(0deg, transparent, #fff 60%);
        // border: 2px solid blue;
        @include abstracts.sm {
        }
        
        @include abstracts.lg {
            object-fit: cover;
            height: 70vh;
            width: 100%;
            object-position: center;
            border-radius: 0.5rem;
            // border-top-right-radius: 1rem;
            // border-bottom-right-radius: 1rem;
            // max-width: 800px;
            -webkit-mask: linear-gradient(90deg, transparent, #ffffff 30%) ;
            mask: linear-gradient(90deg, transparent, #fff 30%);
        }
    }
}

// HERO PAGE TITLE
.hero-title {
    grid-area: title;
    padding: 5vh 5vw 0;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        top: 5vh;
        left: 0;
        width: 85%;
        height: 50%;
        background: hsl(0, 0%, 93%);
        border-radius: 50%;
        z-index: -1;
        filter: blur(1rem);

        // DARK THEME
        @include abstracts.dark {
            display: none;
        }
    }

    @include abstracts.lg {
        padding: 0.5rem;
        &::after {
            display: none;
        }
    }

    

    h1 {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        font-size: abstracts.$font-clamp-lg;
        text-transform: uppercase;
    }

    .slogan {
        text-transform: capitalize;
        p {
                font-size: abstracts.$font-clamp-sm;
        
                // DARK THEME
                @include abstracts.dark {
                    color: abstracts.$text-second-light;
                }
            }

        :first-child {
            margin-bottom: .25rem;
        }

    }

    .cta {
        margin: 1rem 0 0;
    }

}