@use '../abstracts';

.menu-container {
    // border: 2px solid blue;
    background-color: #eee;
    min-height: 90vh;
    padding: 10vh 5vw;

    display: grid;
    gap: 10vh;

    @include abstracts.lg {
        padding: 15vh 10vw;
    }

    @include abstracts.xlg {
        min-height: 100vh;
        padding: 15vh 10vw 10vh;

        grid-template-columns: repeat(3, 1fr);
        gap: 5vw;
        place-items: center;
        align-items: start;
    }
}

.menu-item {
    // border: 1px solid #0005;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    isolation: isolate;
    position: relative;
    transition: 250ms;

    &::after, &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        transition: 250ms ease;
        z-index: -1;
    }

    &::before {
        background-color: hsl(0, 0%, 99%);
        box-shadow: 0 0.25rem 0.5rem #0003;
    }

    &::after {
        box-shadow: 0 0.5rem 1rem #0002;
        background-color: #ffff;
        opacity: 0;
    }

    &:hover {
        transform: scale(1.0125);
        &::before {opacity: 0;}
        &::after {opacity: 1;}
    }
    
}


.menu-item-slogan {
    font-size: 0.975rem;
    font-size: abstracts.$font-clamp-xsm;
    margin-bottom: 1rem;
}

.menu-title {
    font-size: 1rem;
    font-size: abstracts.$font-clamp-md;
    margin-bottom: 1.5rem;

    span {
        color: abstracts.$brand;
        text-transform: uppercase;
        font-size: abstracts.$font-clamp-xsm;
        display: block;
    }
}

.menu-icon {
    float: left;
    margin: 0 0.25rem 0 0;
}

.menu-item-cta {
    margin: 0.5rem 0 0rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    a {
        text-decoration-color: #ddd;
        text-underline-offset: 3px;
    }

    &:hover {
        a {
            text-underline-offset: 1px;
            text-decoration-color: abstracts.$brand;
            &:hover {
                text-decoration-color: transparent;
            }
        }
        .icon {
            transform: translateX(0.15rem);
        }
    }
}