@use '../abstracts';

// MENU ITEMS GRID CONTAINER
.menu-container {
    // border: 2px solid blue;
    background-color: #eee;
    min-height: 90vh;
    padding: 10vh 5vw;

    display: grid;
    gap: 10vh;

    @include abstracts.lg {
        padding: 15vh 10vw;
    }

    @include abstracts.xlg {
        min-height: 100vh;
        padding: 15vh 10vw 10vh;

        grid-template-columns: repeat(3, 1fr);
        gap: 5vw;
        place-items: center;
        align-items: start;
    }

    @include abstracts.dark {
        background-color: #000;
    }
}

// GRID ITEM
.menu-item {
    // border: 1px solid #0005;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    isolation: isolate;
    position: relative;
    transition: 350ms;

    @include abstracts.item-bg;


    &:hover {

        .menu-title {
            color: abstracts.$brand-light;
        }
    }
    

    @include abstracts.dark {
        background-color: #000;
        color: abstracts.$text-light;

        .menu-title span {
            color: abstracts.$text-light;
        }
        p {
            color: inherit;
        }

        &::before {
            background-color: #222;
        }
        &::after {
            background-color: #333;
        }
    }
}

.menu-item-slogan {
    font-size: 0.975rem;
    font-size: abstracts.$font-clamp-xsm;
    margin-bottom: 1rem;
}

.menu-title {
    font-size: 1.125rem;
    font-size: abstracts.$font-clamp-sm;
    margin-bottom: 1.5rem;
    color: abstracts.$brand;
    font-weight: 500;
    transition: 250ms ease;
    
    span {
        color: abstracts.$text-main;
        // text-transform: uppercase;
        // font-size: abstracts.$font-clamp-xsm;
        font-size: inherit;
        display: block;
    }
}

.menu-icon {
    float: left;
    margin: 0 0.25rem 0 0;
}

.menu-item-cta {
    margin: 0.5rem 0 0rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    a {
        text-decoration-color: hsl(0, 0%, 95%);
        text-underline-offset: 3px;
        @include abstracts.dark {
            text-decoration-color: transparent;
        }
    }


    &:hover {
        a {
            text-underline-offset: 1px;
            text-decoration-color: abstracts.$brand;
            &:hover {
                text-decoration-color: transparent;
            }
        }
        .icon {
            transform: translateX(0.15rem);
            opacity: 0.75;
        }
    }
}