@use '../abstracts';

    // ABOUT SECTION
    .pledge {
        position: relative;
        isolation: isolate;
        min-height: 50vh;
        padding: 10vh 5vw;
        background: abstracts.$bg-main;
        // border: 2px solid #000;

        // DARK-THEME 
        @include abstracts.dark {
            background-color: hsl(0, 0%, 0%);
            color: #f4f4f4;
            min-height: 70vh;   
        }

        // DESKTOP ABOUT SECTION STYLE
        @include abstracts.lg {
            // border: 3px solid red;
            padding: 10vh 10vw;
            background-size: 60%;
            background-size: contain;
            background-attachment: fixed;
            background-image: url('../../img/mikali-logo-copy.jpg');
            background-repeat: no-repeat;
            background-position: right;

            @include abstracts.dark {
                background-image: none;
            }
        }

    }
    
    .pledge-icon {
        width: 8rem;
        height: 8rem;
        position: absolute;
        right: 5vw;
        right: 5vw;
        top: 20vh;
        // z-index: -1;
        opacity: 0.075;
    }

    // BRAND LOGO = PLEDGE-IMG 
    .pledge-img {
        // border: 2px solid green;
        position: sticky;
        top: 10vh;
        z-index: -2;
        mix-blend-mode: darken;
        border-radius: 0.5rem;

        @include abstracts.sm {
            top: 0;
        }

        
        @include abstracts.dark {
            mix-blend-mode: normal;
            opacity: .95;
            position: relative;
            top: unset;
        }
        
        @include abstracts.sm {
            display: none;
        }
    }

    // ABOUT ARTICLE
    .pledge-article {
        padding: 10vh 0 0;
        position: relative;
        // isolation: isolate;
        // border: 2px solid red;
        max-width: 550px;
        background: abstracts.$bg-main-trans;
        
        h3 {
            color: abstracts.$brand;
        }

        a {
            color: abstracts.$brand;
        }

        // DARK THEME
        @include abstracts.dark {
            background: inherit;
            h3 {
                color: abstracts.$brand-light;
            }
            p {
                color: abstracts.$text-light-trans;
            }
        }

    }

    .cta-flex-container {
        display: flex;
        align-items: start;
        gap: 1rem;
        margin: 1rem 0 0;

        a {
            padding: 0 0 0.5rem 0;
            cursor: default;

            .icon { 
                width: 1.25rem;
                height: 1.25rem;
                filter: drop-shadow(0.125rem 0.25rem 0.075rem hsla(0, 100%, 25%, 0.25));
            }

            @include abstracts.sm {
                cursor: pointer;
            }

            &:hover {
                transform: scale(1.125);
            }
        }
    }

