@use '../abstracts';

// SERVICES SECTION
.services {
    // border: 1px solid red;
    background-color: #f4f4f4;
    background-color: hsl(0, 0%, 90%);
    padding: 10vh 5vw;
    position: relative;
    isolation: isolate;
    // height: 95vh;
    width: 100%;

    @include abstracts.md {
        padding: 10vw 10vw;
    }

    @include abstracts.dark {
        background: #222;
        color: #f4f4f4;
        P {
            color: #ddd;
        }
    }

}


// SERVICE SECTION = INDIVIDUAL SERVICE
.service-section {
    // border: 2px solid blue;
    position: relative;

    .service-title {
        max-width: 400px;
        h3 {
            font-size: abstracts.$font-clamp-xlg;
            margin-bottom: 5vh;
            line-height: 1.2;
            
            span {
                color: abstracts.$brand;
            }
        }
    
        .service-title-img {
            position: absolute;
            right: 5vw;
            top: 5vh;
            rotate: -30deg;
            filter: drop-shadow(-1rem 1rem 1.75rem hsla(348, 83%, 10%, 0.75));
            animation: brush 5500ms infinite;
            transform-style: preserve-3d;

            @include abstracts.lg {
                display: none;
            }

            @keyframes brush {
                50% {
                    rotate: 0deg;
                    translate: 0 1rem;
                    filter: drop-shadow(-0.5rem 0.5rem 0.125rem hsla(348, 83%, 15%, 0.25));
                }
            }
        }

        .service-cta-container {
            h4 {
                text-transform: uppercase;
                font-size: abstracts.$font-clamp-sm;
                margin-bottom: 1rem;
            }
        }
    }


    .service-items {
        margin-block: 10vh;
        display: grid;
        gap: 5vh;
        
        @include abstracts.md {
            grid-template-columns: repeat(2, 1fr);
            margin-block: 5vh;
        }

        .service-item {
            border-radius: 0.5rem;
            background: #fff;
            position: relative;
            
            @include abstracts.item-bg;

            padding: 0.5rem;
            h4 {
                text-transform: uppercase;
                font-weight: 500;
                transition: 250ms ease;
                font-size: 1rem;
                font-size: abstracts.$font-clamp-sm;
                // color: abstracts.$brand;
                
                @include abstracts.dark {
                    // color: abstracts.$brand-light;
                }

            }

            .content-container {
                ul {
                    list-style: none;
                    padding: 0.25rem 0;
                    // padding: 0.5rem;
                    li {
                        padding: 0.25rem;
                        border-radius: 0.125rem;
                        text-transform: capitalize;
                        font-size: 0.9rem;
                        font-size: abstracts.$font-clamp-xsm;
                        color: abstracts.$text-main-light;
                        background-color: #fafafa;
                    }

                    :nth-child(even) {
                        background-color: hsl(0, 0%, 85%);
                        @include abstracts.dark {
                            background-color: #222;
                            
                        }
                    }

                }
            }


            @include abstracts.dark {
                background-color: #000;
            }

            &:hover {

                h4 {
                    color: abstracts.$brand;

                    @include abstracts.dark {
                        color: abstracts.$brand-light;
                    }

                }

            }

        }

    }

}

