@use '../abstracts';

// SERVICES SECTION
.services {
    // border: 1px solid red;
    background-color: #f4f4f4;
    background-color: hsl(0, 0%, 90%);
    padding: 5vh 5vw;
    position: relative;
    isolation: isolate;
    // height: 95vh;
    max-width: 100%;

    @include abstracts.md {
        padding: 10vw 10vw;
    }

    @include abstracts.dark {
        background: #222;
        color: #f4f4f4;
        P {
            color: #ddd;
        }
    }

}


// SERVICE SECTION = INDIVIDUAL SERVICE
.service-section {
    padding-block: 10vh;
    position: relative;

    .service-title {
        max-width: 400px;
        h3 {
            font-size: abstracts.$font-clamp-xlg;
            margin-bottom: 5vh;
            line-height: 1.2;
            
            span {
                color: abstracts.$brand;
            }
        }
    
        

        .service-cta-container {
            h4 {
                text-transform: uppercase;
                font-size: abstracts.$font-clamp-sm;
                margin-bottom: 1rem;
            }
        }
    }


    .service-items {
        margin-block: 10vh;
        display: grid;
        gap: 5vh;
        
        @include abstracts.md {
            grid-template-columns: repeat(2, 1fr);
            margin-block: 5vh;
        }

        .service-item {
            position: relative;
            border-radius: 0.5rem;
            padding: 0.5rem;
            // PSEUDO BG
            @include abstracts.item-bg;

            h4 {
                text-transform: uppercase;
                font-weight: 500;
                transition: 150ms ease;
                font-size: 1rem;
                font-size: abstracts.$font-clamp-sm;
                // color: abstracts.$brand;
                
                @include abstracts.dark {
                    // color: abstracts.$brand-light;
                }

            }

            .content-container {
                ul {
                    list-style: none;
                    padding: 1rem 0.25rem 0.5rem;
                    // padding: 0.5rem;
                    // border: 1px solid red;
                    li {
                        padding: 0.25rem;
                        text-transform: capitalize;
                        font-size: 0.9rem;
                        font-size: abstracts.$font-clamp-xsm;
                        color: abstracts.$text-main-light;
                        background-color: #fafafa;

                        @include abstracts.dark {
                            background-color: #333;
                            color: abstracts.$text-second-light;
                        }

                        &:first-child {
                            border-top-left-radius: 0.25rem;
                            border-top-right-radius: 0.25rem;
                        }
                        &:last-child {
                            border-bottom-left-radius: 0.25rem;
                            border-bottom-right-radius: 0.25rem;
                        }

                    }

                    // LIGHTER BG FOR EVENth LI CHILD
                    :nth-child(even) {
                        background-color: hsl(0, 0%, 85%);
                        @include abstracts.dark {
                            background-color: #222;
                            
                        }
                    }

                    

                }
            }


            

            &:hover {

                h4 {
                    color: abstracts.$brand;

                    @include abstracts.dark {
                        color: abstracts.$brand-light;
                    }

                }

            }

        }

    }

}

.service-title-icon {
    position: absolute;
    right: 5vw;
    top: 15vh;
    rotate: -30deg;
    filter: drop-shadow(-1rem 1rem 1.75rem hsla(348, 83%, 10%, 0.75));
    transform-style: preserve-3d;
    
    &.brush {
        animation: brush 5500ms infinite;
    }
    &.ruler {
        animation: ruler 5500ms infinite;
    }

    @include abstracts.lg {
        right: 40%;
    }

    
}

.service-item-imgs {
    // max-width: 100%;
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;
    height: 20rem;
    width: 100%;
    border-radius: 0.25rem;
    
    
    img {
        object-fit: cover;
        object-position: right center;
        width: 100%;
        height: 100%;
        transition: 500ms ease;

        &:hover {
            transform: scale(1.1);
        }
    }
    
    @include abstracts.sm {
        overflow: hidden;
        width: 450px;
    }
    @include abstracts.xlg {
        width: 100vw;
        height: 24rem;
        max-width: 1024px;
    }
    


}
