@use '../abstracts';

// SERVICES SECTION
.services {
    border: 1px solid red;
    background-color: #f4f4f4;
    padding: 10vh 5vw;
    position: relative;
    isolation: isolate;

    @include abstracts.md {
        padding: 10vw 10vw;

        // background-image: url('../../img/hero-600.jpg');
        // background-repeat: no-repeat;
        // background-position: center;
        // background-size: cover;
    }

    @include abstracts.dark {
        background: #000;
        color: #f4f4f4;
        P {
            color: #ddd;
        }
    }


    

}

